
 * {
 	box-sizing: border-box;
 	background: #eee0e1
    }
body {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}
  #Wrapper {
       width: 980px;
       
       margin: 10px;
       background: #e4ab90;
       margin: 0 auto;
       overflow: hidden;
       padding: 0;
      
  }
  header {
  	 text-align: center;
  	 margin: 20px;
  	 
  	  }

  h1 {
  	  color: #2d0d3c;
      background: #be192d; 
      text-align: center;s
    }
  #left {
  	float: left;
    width: 600px;
    
    font-size: 15px
  	
  	background: #7dcad5;
    }
  
  #right {

  	float: right;
    margin-right: 95px;
  	
  }
  img {
     padding: 2px;
     border: 2px solid #eee;
  }
  #contact {
    font-size: 15px;
    float: left;
    width: 600px;
  }

  footer {
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   
      width: 980px;
      text-align: center;
  }
  



