
 * {
 	box-sizing: border-box;
 	background: #eee0e1
    }
body {
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
  header {
  	 text-align: center;
  	 margin: 20px;
  	 padding: 20px;

  	 background: #be192d;
  }
  h1 {
  	  color: #2d0d3c;
      text-align: center;s
    }
  #left {
  	float: left;
  	width: 50%
  	background: #7dcad5;
    }
  #right{
  	float: right;
  
  	border-style: solid;
  	border-width: 10px; 
  }




